<div class="sales">
  <h4>Sales (City)</h4>
  <div class="salesHeading">
    <p id="item">Item</p>
    <p id="quantity">Quantity</p>
    <p id="price">Price</p>
  </div>
  <div class="a_particular_product">
    <p class="aItem">Dangote Cements</p>
    <p class="aQuantity">2000 Bags</p>
    <p class="aPrice">N100,000,000</p>
  </div>
  <div class="a_particular_product">
    <p class="aItem">Dangote Sugar</p>
    <p class="aQuantity">2000 Bags</p>
    <p class="aPrice">N100,000,000</p>
  </div>
  <div class="a_particular_product">
    <p class="aItem">Dangote Rice</p>
    <p class="aQuantity">2000 Bags</p>
    <p class="aPrice">N100,000,000</p>
  </div>
  <div class="a_particular_product">
    <p class="aItem">Dangote Salt</p>
    <p class="aQuantity">2000 Bags</p>
    <p class="aPrice">N100,000,000</p>
  </div>
  <div class="aTotal">
    <div class="totaling">
      <p>Total</p>
    </div>
    <div class="totallingMoney">
      <p>N500,000,000</p>
    </div>
  </div>
</div>
