.discountedProducts h4 {
  color: orange;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 70px;
}

.discountHeading {
  width: 97%;
  background-color: black;
  margin-left: 20px;
  border: 1px solid white;
  display: flex;
  flex-wrap: nowrap;
}

.discountHeading #unit_price {
  width: 20%;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: bold;
}

.discountHeading #item {
  width: 20%;
   color: white;
   padding: 20px;
   text-align: center;
   font-size: bold;
}

.discountHeading #price {
  width: 20%;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: bold;
}

.discountHeading #discount {
  color: white;
  width: 20%;
  padding: 20px;
  text-align: center;
  font-size: bold;
}

.discountHeading #quantity {
  color: white;
  width: 20%;
  padding: 20px;
  text-align: center;
  font-size: bold;
}

.discountedItems {
  width: 97%;
  background-color: white;
  margin-left: 20px;
  border: 1px solid white;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.discountedItems .unit_price {
  width: 20%;
  padding: 20px;
  color: black;
  text-align: center;
  font-size: bold;
}

.discountedItems .item {
  width: 20%;
   color: black;
   padding: 20px;
   text-align: center;
   font-size: bold;
}

.discountedItems .price {
  width: 20%;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: bold;
}

.discountedItems .discount {
  color: black;
  width: 20%;
  padding: 20px;
  text-align: center;
  font-size: bold;
}

.discountedItems .quantity {
  color: black;
  width: 20%;
  padding: 20px;
  background-color: cyan;
  text-align: center;
  font-size: bold;
}

.discountedProducts .total {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-left: 20px;
  width: 97.2%;
}

.discountedProducts .total p {
  width: 50%;
  padding: 20px;
  background-color: cyan;
  color: black;
  font-weight: bold;
}

.ourassetvalue {
  width: 30%;
  position: absolute;
  right: 10px;
  top: 20px;
  /* border: 1px solid white; */
  padding: 5px;
}

.ourassetvalue p:first-child {
  background-color: #00ced1;
  color: black;
  text-align: center;
  font-weight: bold;
}

.ourassetvalue p:last-child {
  background-color: #00ced1;
  color: black;
  text-align: center;
  font-weight: bold;
  /* border-top: 1px solid black; */
}

.ourassetvalue p {
  padding: 15px;
}
