<div class="discountedProducts">
  <h4>Overview <br> Sum Total of Available Products Nationwide</h4>
  <div class="discountHeading">
    <p id="item">Item</p>
    <p id="quantity">quantity</p>
    <p id="unit_price">unit price</p>
    <p id="price">Total Price</p>
  </div>
  <div class="discountedItems">
    <p class="item">Rice</p>
    <p class="quantity">2000 Bags</p>
    <p class="unit_price">N7000</p>
    <p class="price">N14,000,000</p>
  </div>
  <div class="discountedItems">
    <p class="item">Salt</p>
    <p class="quantity">2000 Bags</p>
    <p class="unit_price">N7000</p>
    <p class="price">N14,000,000</p>
  </div>
  <div class="discountedItems">
    <p class="item">Cement</p>
    <p class="quantity">2000 Bags</p>
    <p class="unit_price">N7000</p>
    <p class="price">N14,000,000</p>
  </div>
  <div class="discountedItems">
    <p class="item">Spargetti</p>
    <p class="quantity">2000 Bags</p>
    <p class="unit_price">N7000</p>
    <p class="price">N14,000,000</p>
  </div>
  <div class="total">
    <p>Total</p>
    <p>N56,000,000</p>
  </div>
</div>
