<div class="loader_interface">
    <div class="actual_loader"></div>
</div>
<div class="notificationUpdate">
  <app-notification-update></app-notification-update>
</div>
<div class="customNotification">
  <app-custom-notification></app-custom-notification>
</div>
<div class="initingApp">
  <app-reinitialize-application></app-reinitialize-application>
</div>
<p id="ent">
  Enterprise Management!
</p>
<div class="parentCover">
  <div class='nav_cover'>
     <app-left-nav></app-left-nav>
  </div>
  <div class='main'>
    <div class="editProduct">
         <form action="">
             <label>choose picture</label><br>
             <input type="file"><br>
             <label>Product Name</label>
         </form>
    </div>
    <div class="each_product">
         <p>Edit Product</p>
         <div class="product_picture">

         </div>
         <div>
              <h3>Product Identity</h3>
              <p></p>
              <h3>Product Name</h3>
              <p></p>
              <h3>Available Quantity (Sum Total in all Locations)</h3>
              <p></p>
              <h3>Available Locations (State Located)</h3>
              <p></p>
         </div>
    </div>
    <router-outlet>

    </router-outlet>
  </div>
</div>
