<div class="settings">
  <h4>Settings</h4>
  <div class="threadsholdContainers">
     <h5>threadshold</h5>
     <div class="thread">
       <div class="aThreadshold">
          <h5>Cement</h5>
          <input type="number" max="100" min="0" placeholder="enter a number (must be less than 100)">
          <div class="barCharHolder">
              <div class="leftBar"></div>
              <div class="rightBar">
                <div class="">

                </div>
              </div>
          </div>
       </div>
       <div class="aThreadshold">
          <h5>Cement</h5>
          <input type="number" max="100" min="0" placeholder="enter a number (must be less than 100)">
          <div class="barCharHolder">
              <div class="leftBar"></div>
              <div class="rightBar">
                <div class="">

                </div>
              </div>
          </div>
       </div>
       <div class="aThreadshold">
          <h5>Cement</h5>
          <input type="number" max="100" min="0" placeholder="enter a number (must be less than 100)">
          <div class="barCharHolder">
              <div class="leftBar"></div>
              <div class="rightBar">
                <div class="">

                </div>
              </div>
          </div>
       </div>
       <div class="aThreadshold">
          <h5>Cement</h5>
          <input type="number" max="100" min="0" placeholder="enter a number (must be less than 100)">
          <div class="barCharHolder">
              <div class="leftBar"></div>
              <div class="rightBar">
                <div class="">

                </div>
              </div>
          </div>
       </div>
     </div>

  </div>
</div>
