<div class="individualStore">
  <h4>City / local Name</h4>
  <div class="header">
     <p id="item">Item</p>
     <p id="quantity">Quantity</p>
     <p id="unitPrice">Unit Price</p>
     <p id="netPrice">Net Price</p>
  </div>

  <div class="netValue">
    <p>Net Asset</p>
    <p>N800,000,000</p>
  </div>

   <div class="myHeader">
      <p class="item">Sugar</p>
      <p class="quantity">900 Bags</p>
      <p class="unitPrice">N 5,000</p>
      <p class="netPrice">50,000,000</p>
   </div>

   <div class="myHeader">
      <p class="item">Cement</p>
      <p class="quantity">400 Bags</p>
      <p class="unitPrice">N 5,000</p>
      <p class="netPrice">70,000,000</p>
   </div>

   <div class="myHeader">
      <p class="item">Salt</p>
      <p class="quantity">500 Bags</p>
      <p class="unitPrice">N 5,000</p>
      <p class="netPrice">10,000,000</p>
   </div>

   <div class="myHeader">
      <p class="item">Flour</p>
      <p class="quantity">700 Bags</p>
      <p class="unitPrice">N 5,000</p>
      <p class="netPrice">40,000,000</p>
   </div>
 <!-- </div> -->
</div>
