<div class="add_a_product">
   <h3><span>Product Addition</span></h3>
    <form action="" enctype="application/x-www-form-urlencoded" (submit)="addProduct()">
       <p><span>Add A Product</span></p>
       <label>Product Name</label>
       <input type="text" placeholder="product_name" required><br>
       <label>Quantity (in numbers)</label>
       <input type="number" placeholder="quantity" required><br>
       <label>Product Location (State)</label>
       <input type="text" placeholder="Product Location" required><br>
       <label>Picture of Product</label>
       <input type="file" placeholder="" required><br>
       <button>submit</button>
    </form>
</div>
