<div class="ourProducts">
   <div class="productDetails">
       <div class="leftsection">
             <div>
                picture of product will be here
             </div>
       </div>
       <div class="rightsection">
             <div class="forStatus">
                <p>status, OK</p>
             </div>
             <div class="summary">
                 <h5>Summary</h5>
                 <div class="firsttab">
                   <p>Item</p>
                   <p>Rice</p>
                 </div>
                 <div class="secondTab">
                   <p>Discount</p>
                   <p>200</p>
                 </div>
                 <div class="thirdTab">
                   <p>Total Asset Value</p>
                   <p>N400,000,000</p>
                 </div>
             </div>
       </div>
   </div>
   <div class="thisProductDetails">
     <h5>Product Discription</h5>
     <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
   </div>
   <div class="detailsFurther">
       <h5>Further Detials</h5>
       <div class="furtherDetails">
          <p>Varible</p>
          <p>Value</p>
       </div>

       <div class="furtherDetails">
          <p>Varible</p>
          <p>Value</p>
       </div>

       <div class="furtherDetails">
          <p>Varible</p>
          <p>Value</p>
       </div>

       <div class="furtherDetails">
          <p>Varible</p>
          <p>Value</p>
       </div>
   </div>
</div>
