<div class="restock">
  <i class="fas fa-database"></i>
  <li id="heading">Warehouse (City)</li>
  <div class="stockheading">
    <p id='item'>Items</p>
    <p id='quantity'>Quantity</p>
    <p id="assetValue">Asset Value</p>
  </div>
  <div class="products">
    <p>Cement</p>
    <p>6900Bags</p>
    <p>N400,000,000</p>
  </div>
  <div class="products">
    <p>Salt</p>
    <p>200Bags</p>
    <p>N200,000,000</p>
  </div>
  <div class="products">
    <p>Spargetti</p>
    <p>100Bags</p>
    <p>N100,000,000</p>
  </div>
  <div class="products">
    <p>Rice</p>
    <p>4000Bags</p>
    <p>N900,000,000</p>
  </div>
  <div class="products">
    <p>Cement</p>
    <p>100000Bags</p>
    <p>N600,000,000</p>
  </div>
  <div class="total">
    <p>Totol Asset Value</p>
    <p>N400B</p>
  </div>
</div>
