<div class="requestDetails">
    <div class="theitems">
      <h5>Requested Products</h5>
      <p id="managerDetails">Managers Telephone: <span>08030305050</span></p>
      <div class="heading">
        <p>Items</p>
        <p>Quantity</p>
      </div>
      <div class="items">
        <p>Rice</p>
        <p>1000 Bags</p>
      </div>
      <div class="items">
        <p>Sugar</p>
        <p>3000 Bags</p>
      </div>
      <div class="items">
        <p>Cement</p>
        <p>3000 Bags</p>
      </div>
      <div class="items">
        <p>Salt</p>
        <p>3000 Bags</p>
      </div>
    </div>
</div>
