<div class="leftNav">
   <ul class="static_nav">
     <li>COMPONENTS</li>
     <li><a routerLink="/dashBoard"><span><i class="fab fa-elementor"></i></span>DashBoard</a></li>
      <li><a routerLink="/outlets"><span><i class="fab fa-elementor"></i></span>Outlets</a></li>
     <li><a routerLink="/productOverview"><span><i class="fab fa-elementor"></i></span>Product Overview</a></li>
     <div>
         <p><a routerLink="/productList"><span><i class="fab fa-elementor"></i></span>Product List</a></p>
     </div>
     <li><a routerLink="/addProduct"><span><i class="fab fa-elementor"></i></span>Add Product</a></li>
     <li><a routerLink="/restockwarehouse"><span><i class="fab fa-elementor"></i></span>Restock Warehouse</a></li>
     <!-- <li><a routerLink="/companyRegistration"><span><i class="fab fa-elementor"></i></span>Company Registration</a></li> -->
     <!-- <li><a routerLink="/subscription"><span><i class="fab fa-elementor"></i></span>Subscription page</a></li> -->
     <!-- <li><a routerLink="/login"><span><i class="fab fa-elementor"></i></span>Login</a></li> -->
     <li><a routerLink="/settings"><span><i class="fab fa-elementor"></i></span>Settings</a></li>
   </ul>
   <div class="calender">
      <h4>November</h4>
      <p id="day">14</p>
      <p id="month">2019</p>
   </div>
</div>
