<div class="leftNav">
   <ul class="static_nav">
     <li><a routerLink="/dashBoard"><span><i></i></span>DashBoard</a></li>
      <li><a routerLink="/outlets"><span><i></i></span>OutLets</a></li>
     <li><a routerLink="/productOverview"><span><i></i></span>Product Overview</a></li>
     <div>
         <p><a routerLink="/productList"><span><i></i></span>Product List</a></p>
     </div>
     <li><a routerLink="/addProduct"><span><i></i></span>Add Product</a></li>
     <li><a routerLink="/companyRegistration"><span><i></i></span>Company Registration</a></li>
     <li><a routerLink="/subscription"><span><i></i></span>Subscription page</a></li>
     <li><a routerLink="/login"><span><i></i></span>Login</a></li>
     <li><a routerLink="/settings"><span><i></i></span>Settings</a></li>
   </ul>
</div>
