<div class="newReports">
  <h4>Discounted Products</h4>
  <div class="eachReport1">
    <p class="city1">City</p>
    <p class="address1">Address</p>
    <p class="manager1">Manager</p>
    <p class="phone1">phone</p>
  </div>
  <div class="eachReport" (click)='showDiscountedSales()'>
    <p class="city">City</p>
    <p class="address">Address</p>
    <p class="manager">Manager</p>
    <p class="phone">phone</p>
  </div>
  <div class="eachReport" (click)='showDiscountedSales()'>
    <p class="city">City</p>
    <p class="address">Address</p>
    <p class="manager">Manager</p>
    <p class="phone">phone</p>
  </div>
  <div class="eachReport" (click)='showDiscountedSales()'>
    <p class="city">City</p>
    <p class="address">Address</p>
    <p class="manager">Manager</p>
    <p class="phone">phone</p>
  </div>
  <div class="eachReport" (click)='showDiscountedSales()'>
    <p class="city">City</p>
    <p class="address">Address</p>
    <p class="manager">Manager</p>
    <p class="phone">phone</p>
  </div>
  <div class="eachReport" (click)='showDiscountedSales()'>
    <p class="city">City</p>
    <p class="address">Address</p>
    <p class="manager">Manager</p>
    <p class="phone">phone</p>
  </div>
</div>
