.missingReports {
  width: 100%;
}

.heading {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border: 1px solid white;
  width: 94.5%;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: black;
}
#managerHead {
  background-color: black;;
  color: white;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  width: 22%;
}

#cityHead {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 20px;
  width: 15%;
  text-align: center;
}

#phoneHead {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 15%;
  padding: 20px;
}

#addressHead {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 20px;
  width: 30%;
  text-align: center;
}

.missingReports h4 {
  color: orange;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 0px;
}

.eachReport {
  display: flex;
  flex-wrap: nowrap;
  width: 95%;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #e65263;
}

.city {
  /* background-color: white; */
  color: white;
  padding: 20px;
  width: 13%;
  text-align: center;
}

.address {
  /* background-color: cyan; */
  color: white;
  padding: 20px;
  width: 30%;
  text-align: center;
}

.manager {
  /* background-color: white; */
  color: white;
  padding: 20px;
  text-align: center;
  width: 22%;
}

.phone {
  /* background-color: cyan; */
  color: white;
  text-align: center;
  width: 15%;
  padding: 15px;
}
