<div class="outlets">
  <h4>Stores Nationwide</h4>
  <div class="individualStore1">
    <p class="city">City</p>
    <p class="location">Address</p>
    <p class='manager'>Manager</p>
    <p class='telephone'>Telephone</p>
    <p class="status">Status</p>
  </div>
  <div class="individualStore" (click)="individualStore()">
    <p class="city">Ibadan</p>
    <p class="location">New Bodija shop 1</p>
    <p class='manager'>Mr Okon</p>
    <p class='telephone'>989836493403</p>
    <p class="status">funtioning</p>
  </div>

  <div class="individualStore" (click)="individualStore()">
    <p class="city">Ibadan</p>
    <p class="location">New Bodija shop 1</p>
    <p class='manager'>Mr Okon</p>
    <p class='telephone'>989836493403</p>
    <p class="status">funtioning</p>
  </div>

  <div class="individualStore" (click)="individualStore()">
    <p class="city">Ibadan</p>
    <p class="location">New Bodija shop 1</p>
    <p class='manager'>Mr Okon</p>
    <p class='telephone'>989836493403</p>
    <p class="status">funtioning</p>
  </div>

  <div class="individualStore" (click)="individualStore()">
    <p class="city">Ibadan</p>
    <p class="location">New Bodija shop 1</p>
    <p class='manager'>Mr Okon</p>
    <p class='telephone'>989836493403</p>
    <p class="status">funtioning</p>
  </div>
</div>
