.board {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.stockStatus {
  width: 30%;
  margin-left: 20px;
  background-color: black;
  padding-top: 20px;
  border-radius: 5px;
  /* border-left: 5px solid white; */
}

.stockStatus h5 {
  text-align: center;
  color: cyan;
  font-size: 20px;
  /* padding: 10px; */
  padding-bottom: 20px;
}
.stockStatus p {
  background-color: darkgreen;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 50%;
  border: 10px solid white;
  text-align: center;
  width: 100px;
  margin-left: 30px;
  border-right: 10px solid orange;
  border-bottom: 10px solid orange;
}

.volumes {
  width: 24.8%;
  border-radius: 5px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 30px;
  margin-left: 20px;
  background-color: black;
}

.volumes .selectForm {
  width: 70%;
  margin-left: 30%;
}

.selectForm p {
  color: white;
  text-align: right;
  padding: 10px;
}

.volumes form select {
  width: 90%;
  height: 30px;
  padding: 20px;
  color: black;
  float: right;
}

option {
  height: 30px;
  padding: 20px;
}

.totalVolumes div {
  position: absolute;
  top: 10%;
  height: 90%;
  background-color: darkgreen;
  width: 35%;
  border: 1px solid white;
  border-top-right-radius: 10px;
}

.totalVolumes h4 {
  color: white;
}

.soldVolume #outer {
  position: absolute;
  height: 90%;
  top: 10%;
  left: 45%;
  background-color: black;
  /* margin-left: 2%; */
  width: 35% !important;
  border: 1px solid white;
  border-top-right-radius: 10px;
}

.soldVolume #inner {
  width: 100%;
  height: 70%;
  background-color: darkgreen;
  position: absolute;
  top: 30%;
}

.soldVolume h4 {
  color: white;
  position: absolute;
  top: 0px;
  left: 70%;
  width: 100%;
  text-align: left;
}

.volumeMetrics {
  position: relative;
  width: 100%;
  margin-top: 40px;
  height: 145px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  padding-left: 10px;
  border-left: 1px solid white;
}

.stockStatus p:hover {
   background-color: black;
   color: orange;
}

.volumes .leftTile {
  width: 100%;
}

.volumes .leftTile h4 {
  color: cyan;
  padding-left: 20px;
  font-size: 20px;
}

.board:nth-child(2){
  margin-top: 40px;
}

.widgets {
  width: 27% !important;
  padding-left: 30px;
  background-color: black;
  border-radius: 5px;
  padding-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.widgets h4 {
  color: cyan;
  font-size: 20px;
  padding-bottom: 20px;
}

.widgets p {
  text-align: right;
  color: white;
  margin-right: 40px;
  padding: 10px;
  padding-bottom: 0px;
}

.widgets input {
  width: 40%;
  float: right;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-right: 40px;
  font-size: 14px;
}

.warehouses {
  width: 25.5%;
  padding-left: 30px;
  /* border-left: 5px solid white; */
  padding: 20px;
  border-radius: 5px;
  padding-top: 20px;
  margin-left: 20px;
  /* border-radius: 5px; */
  background-color: black;
  border-right: none;
}

.warehouses i {
  font-size: 200px;
  border: none;
  color: cyan;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.warehouses i:hover {
  color: white;
}
.warehouses h4 {
  color: cyan;
  font-size: 20px;
  /* padding: 10px; */
  padding-bottom: 20px;
  text-align: center;
}

.threadsholdMeter {
  position: relative;
  width: 100%;
  height: 270px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 50px;
}

.threadsholdMeter .firstBar {
   position: absolute;
   left: 5%;
   width: 25%;
   border: 1px solid white;
   height: 100%;
   background-color: green;
   border-top-right-radius: 5px;
}

.threadsholdMeter .secondBar {
   position: absolute;
   left: 35%;
   width: 25%;
   border: 1px solid white;
   height: 100%;
   background-color: black;
   border-top-right-radius: 5px;
}

.threadsholdMeter .secondBar div {
  width: 100%;
  height: 50%;
  background-color: orange;
  position: relative;
  top: 50%;
}


.widgets {
  padding-right: 0px;
}

.newReports, .absentReports, .outlets {
  width: 100% !important;
  display: flex;
}

.newReports .leftSide {
  width: 80%;
  background-color: cyan;
}

.newReports .rightSide {
  width: 20%;
  background-color: white;
}

.newReports .leftSide p, .newReports .rightSide p {
  padding-bottom: 20px;
  color: black;
  text-align: center;
  cursor: pointer;
}

.absentReports {
  margin-top: 10px;
}

.absentReports .leftSide {
  width: 80%;
  background-color: orange;
}

.absentReports .rightSide {
  width: 20%;
  background-color: white;
}

.absentReports .leftSide p, .absentReports .rightSide p {
  cursor: pointer;
  padding-bottom: 20px;
  color: black;
  text-align: center;
}

.outlets {
  margin-top: 10px;
}

.outlets .leftSide {
  width: 80%;
  background-color: cyan;
}

.outlets .rightSide {
  width: 20%;
  background-color: white;
}

.outlets .leftSide p, .outlets .rightSide p {
  padding-bottom: 20px;
  color: black;
  text-align: center;
  cursor: pointer;
}

.todayReports {
  width: 87% !important;
  border: 1px solid white;
  padding: 5px;
}

.previousReports {
  width: 100% !important;
  margin-top: 10px;
}

.previousReports p:hover {
  background-color: cyan;
  color: black;
}

.previousReports p {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

#today {
  padding-bottom: 15px;
  text-align: left;
  padding-left: 10px;
}

.quickInfo {
  width: 96%;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  /* background-color: orange; */
}

.quickInfo .eachInfo {
  width: 30%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  padding-right: 0px;
  background-color: white;
  margin-left: 20px;
  background-color: black;
}

.quickInfo .eachInfo .rightSide {
  width: 60%;
  padding: 10px;
}

.quickInfo .eachInfo .leftSide {
  width: 40%;
}

.eachInfo .leftSide div {
  width: 60px;
  background-color: transparent;
  border: 5px solid silver;
  padding-top: 30px;
  border-radius: 50%;
  padding-bottom: 30px;
  border-bottom: 5px solid #e65263;
  border-right: 5px solid #e65263;
  border-top: 5px solid cyan;
  margin-left: 10px;
}

.eachInfo {
  display: flex;
  flex-wrap: nowrap;
}

.eachInfo .rightSide {
  padding-right: 0px;
}

.eachInfo .rightSide p {
  color: white;
  text-align: right;
  padding-right: 0px;
}

.eachInfo .rightSide p:first-child {
  font-size: 20px;
}

.eachInfo .rightSide p:last-child {
  font-size: 14px;
}
