<div class="thresholdDetails">
   <h4>Details of Products on Threshold</h4>
   <div class="containers">
     <div class="eachLocation">
         <h5>Enugu</h5>
         <div class="droplets">
            <div class="leftSection">
              <h6>Item</h6>
              <p>Rice</p>
              <h6>Manager</h6>
              <p>Olaranwaju Tijani</p>
              <h6>Telephone</h6>
              <p>+2348045678345</p>
              <h6>Store Address</h6>
              <p>Okoko Streat, lane 1, abacha road</p>
            </div>
            <div class="rightSection">
              <h6>Quantity</h6>
              <p>300 Bags</p>
              <h6>Asset Value</h6>
              <p>N100million</p>
              <h6>Store Name</h6>
              <p>Faniyan</p>
            </div>
         </div>
     </div>

     <div class="eachLocation">
         <h5>Enugu</h5>
         <div class="droplets">
            <div class="leftSection">
              <h6>Item</h6>
              <p>Rice</p>
              <h6>Manager</h6>
              <p>Olaranwaju Tijani</p>
              <h6>Telephone</h6>
              <p>+2348045678345</p>
              <h6>Store Address</h6>
              <p>Okoko Streat, lane 1, abacha road</p>
            </div>
            <div class="rightSection">
              <h6>Quantity</h6>
              <p>200 Bags</p>
              <h6>Asset Value</h6>
              <p>N100million</p>
              <h6>Store Name</h6>
              <p>Kuna</p>
            </div>
         </div>
     </div>

     <div class="eachLocation">
         <h5>Enugu</h5>
         <div class="droplets">
            <div class="leftSection">
              <h6>Item</h6>
              <p>Rice</p>
              <h6>Manager</h6>
              <p>Olaranwaju Tijani</p>
              <h6>Telephone</h6>
              <p>+2348045678345</p>
              <h6>Store Address</h6>
              <p>Okoko Streat, lane 1, abacha road</p>
            </div>
            <div class="rightSection">
              <h6>Quantity</h6>
              <p>100 Bags</p>
              <h6>Asset Value</h6>
              <p>N100million</p>
              <h6>Store Name</h6>
              <p>Iyanya</p>
            </div>
         </div>
     </div>

     <div class="eachLocation">
         <h5>Enugu</h5>
         <div class="droplets">
            <div class="leftSection">
              <h6>Item</h6>
              <p>Rice</p>
              <h6>Manager</h6>
              <p>Olaranwaju Tijani</p>
              <h6>Telephone</h6>
              <p>+2348045678345</p>
              <h6>Store Address</h6>
              <p>Okoko Streat, lane 1, abacha road</p>
            </div>
            <div class="rightSection">
              <h6>Quantity</h6>
              <p>200 Bags</p>
              <h6>Asset Value</h6>
              <p>N100million</p>
              <h6>Store Name</h6>
              <p>Ikubo</p>
            </div>
         </div>
     </div>

     <div class="eachLocation">
         <h5>Enugu</h5>
         <div class="droplets">
            <div class="leftSection">
              <h6>Item</h6>
              <p>Rice</p>
              <h6>Manager</h6>
              <p>Olaranwaju Tijani</p>
              <h6>Telephone</h6>
              <p>+2348045678345</p>
              <h6>Store Address</h6>
              <p>Okoko Streat, lane 1, abacha road</p>
            </div>
            <div class="rightSection">
              <h6>Quantity</h6>
              <p>150 Bags</p>
              <h6>Asset Value</h6>
              <p>N100million</p>
              <h6>Store Name</h6>
              <p>Umachi</p>
            </div>
         </div>
     </div>

     <div class="eachLocation">
         <h5>Enugu</h5>
         <div class="droplets">
            <div class="leftSection">
              <h6>Item</h6>
              <p>Rice</p>
              <h6>Manager</h6>
              <p>Olaranwaju Tijani</p>
              <h6>Telephone</h6>
              <p>+2348045678345</p>
              <h6>Store Address</h6>
              <p>Okoko Streat, lane 1, abacha road</p>
            </div>
            <div class="rightSection">
              <h6>Quantity</h6>
              <p>90 Bags</p>
              <h6>Asset Value</h6>
              <p>N100million</p>
              <h6>Store Name</h6>
              <p>Olu Oba</p>
            </div>
         </div>
     </div>
   </div>
</div>
