.subscriptionPage {
  width: 100%;
  color: white;
}

.subscriptionPage h3 span {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  color: #b5b3ea;
}

.sub_first_row {
  width: 100%;
  display: flex;
  margin-top: 70px;
}

.sub_first_row .sub {
   width: 50%;
}

.sub_first_row .sub div {
   width: 80%;
   margin-left: 10%;
   /* border: 1px solid white; */
   background-color: black;
}

.sub_first_row .sub div h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: orange;
}

.sub_first_row .sub div p {
  text-align: center;
  padding: 10px;
  border-top: 1px solid silver;
}

.sub_first_row .sub div button {
  background-color: green;
  color: white;
  font-size: 15px;
  padding: 5px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 25%;
}
