<div class="subscriptionPage">
   <h3><span>Subscription Page</span></h3>
    <div class="sub_first_row">
        <div class="sub">
             <div>
                <h4><span>Silver</span><br><br>$500 Annually</h4>
                <p>Starter Pack</p>
                <p>Single User (Single Admin)</p>
                <p>Technical Support</p>
                <button>Subscrib</button>
             </div>
        </div>
        <div class="sub">
             <div>
                <h4><span>Gold</span><br><br>$1000 Annually</h4>
                <p>Regular User</p>
                <p>Online Store</p>
                <p>Product Tracker</p>
                <p>Single User (Single Admin)</p>
                <p>Technical Support</p>
                <button>Subscrib</button>
             </div>
        </div>
        <div class="sub">
             <div>
                <h4><span>Primium</span><br><br>$2000 Annually</h4>
                <p>Full Package</p>
                <p>Online Store</p>
                <p>Product Tracker</p>
                <p>Customer Personal Page</p>
                <p>Chat Robot</p>
                <P>Remote DataBase</P>
                <p>Multiple User (Multiple Admin)</p>
                <p>Android Application</p>
                <p>IOS Application</p>
                <p>Technical Support</p>
                <button>Subscrib</button>
             </div>
        </div>
    </div>
</div>
