<div class="parent">
   <i class="fas fa-inbox"></i>
   <h4>Outgoing Request</h4>
   <div class="heading">
      <p>Dispatch Date</p>
      <p>City/location</p>
      <p>Manager</p>
      <p>Telephone</p>
      <p>Status</p>
   </div>

   <div class="outgoingRequest" (click)="seeDetails()">
     <p>2019-03-19</p>
     <p>Ibadan/New Bodija</p>
     <p>Emmanuel Okon</p>
     <p>090282873348</p>
     <p class="status">
        <span>pending</span>
     </p>
   </div>

   <div class="outgoingRequest" (click)="seeDetails()">
     <p>2019-03-19</p>
     <p>Ibadan/New Bodija</p>
     <p>Emmanuel Okon</p>
     <p>090282873348</p>
     <p class="status">
        <span>pending</span>
     </p>
   </div>

   <div class="outgoingRequest" (click)="seeDetails()">
     <p>2019-03-19</p>
     <p>Ibadan/New Bodija</p>
     <p>Emmanuel Okon</p>
     <p>090282873348</p>
     <p class="status">
        <span>pending</span>
     </p>
   </div>

   <div class="outgoingRequest" (click)="seeDetails()">
     <p>2019-03-19</p>
     <p>Ibadan/New Bodija</p>
     <p>Emmanuel Okon</p>
     <p>090282873348</p>
     <p class="status">
        <span>pending</span>
     </p>
   </div>
</div>
