<div class="companyRegistration">
   <h3><span>Company Account</span></h3>
   <form action="" class='create_account_form' (submit)="create_account()">
     <p><span>Create Company Account</span></p>
     <label>Company Name</label><br>
     <input type="text" placeholder="Company Name" required><br>
     <label>Company Address (Head Office)</label><br>
     <input type="text" placeholder="Company Address (Head Office Address)" required><br>
     <label>Company Email (Official Email)</label><br>
     <input type="email" placeholder="Company email@company.com" required><br>
     <label>Password</label><br>
     <input type="password" placeholder="password" required><br>
     <label>Telephone</label><br>
     <input type="telephone" placeholder="09060284864" required><br>
     <button>submit</button><br>
   </form>
</div>
