.warehouse {
  width: 100%;
}

.warehouse h4 {
  font-size: 20px;
  color: orange;
  padding: 20px;
}

.warehouse ul {
  width: 100%;
}

.warehouse ul li {
  display: inline-block;
  margin-left: 40px;
}

.warehouse ul li i {
  color: cyan;
  font-size: 200px;
}

.warehouse ul li P {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: bold;
}

.warehouse ul li i:hover {
  color: #eeeeee;
}
