<div class="threshold">
  <h4>Products on threshold</h4>
  <div class="threadsholdMeter">
    <p>status <br> threshold</p>
  </div>
  <div class="summary">
     <h6>Summary</h6>
     <div class="inner">
       <div class="forTotalItems">
         <p>Total Items</p>
         <p>6</p>
       </div>
       <div class='netAsset'>
         <p>Net Value</p>
         <p>N700,000,000</p>
       </div>
     </div>
  </div>
  <div class="header">
     <p>Item</p>
     <p>Remaining Quantity</p>
     <p>Net Value</p>
  </div>

  <div class="products" (click)="moreDetaislOnThisProduct()">
    <p>Rice</p>
    <p>400 Bags</p>
    <p>N50,000,000</p>
  </div>

  <div class="products" (click)="moreDetaislOnThisProduct()">
    <p>Sugar</p>
    <p>400 Bags</p>
    <p>N50,000,000</p>
  </div>

  <div class="products" (click)="moreDetaislOnThisProduct()">
    <p>Salt</p>
    <p>300 Bags</p>
    <p>N50,000,000</p>
  </div>

  <div class="products" (click)="moreDetaislOnThisProduct()">
    <p>Cement</p>
    <p>100 Bags</p>
    <p>N50,000,000</p>
  </div>

  <div class="products" (click)="moreDetaislOnThisProduct()">
    <p>Spargetti</p>
    <p>400 Bags</p>
    <p>N50,000,000</p>
  </div>

  <div class="products" (click)="moreDetaislOnThisProduct()">
    <p>Salt</p>
    <p>800 Bags</p>
    <p>N50,000,000</p>
  </div>
  
</div>
