.threshold {
  width: 100%;
}

.threshold h4 {
  color: orange;
  padding-left: 20px;
  font-size: 20px;
}

.threshold .header {
  width: 96%;
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 10px;
}

.threshold .header p {
  width: 31%;
  padding: 20px;
  color: white;
  text-align: center;
}

.threshold .products {
  width: 96%;
  background-color: #e65263;
  display: flex;
  flex-wrap: nowrap;
  /* border: 2px solid red; */
  margin-left: 20px;
  margin-top: 5px;
}

.threshold .products p {
  width: 31%;
  padding: 20px;
  color: white;
  text-align: center;
}

.threshold .threadsholdMeter{
  width: 185px;
  margin-left: 20px;
  /* background-color: silver; */
}

.threshold .threadsholdMeter p {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    border-radius: 50%;
    border: 5px solid orange;
    border-left: 5px solid white;
    border-top: 5px solid white;
    color: white;
    /* font-weight: bold; */
    background-color: #e65263;
}

.threshold .summary {
  width: 40%;
  background-color: transparent;
  position: absolute;
  top: 50px;
  border: 1px solid white;
  right: 20px;
  /* margin-left: 20px; */
  padding: 5px;
}

.threshold .summary h6 {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
}

.threshold .summary .inner {
  width: 99%;
}

.threshold .summary .forTotalItems {
   display: flex;
   flex-wrap: nowrap;
   margin-top: 5px;
}

.threshold .summary .forTotalItems p:first-child {
   width: 70%;
   text-align: left;
   padding: 20px;
   background-color: cyan;
}

.threshold .summary .forTotalItems p:last-child{
   width: 30%;
   text-align: center;
   padding: 20px;
   background-color: white;
}

.threshold .summary .netAsset {
  display: flex;
  margin-top: 5px;
  flex-wrap: nowrap;
}

.threshold .summary .netAsset p:first-child {
  width: 50%;
  text-align: left;
  background-color: cyan;
  padding: 20px;
}


.threshold .summary .netAsset p:last-child {
  width: 50%;
  text-align: center;
  background-color: white;
  padding: 20px;
}
